:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// reset

// elemento movie/serie (stilizzazioni di test)
#movie{
  width: calc(100% / 4);

  border: 1px solid white;

  .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    padding: 10px;
    
    height: 100%;
    
    color: white;

    background-color: black;

    span{
      font-weight: bold;
    }

    .type{
        color: red;
    }

    .language{
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .rating{
      display: flex;
      align-items: center;

      .rating-stars {
        font-size: 1.8em;
  
        color: #FFBD00;
      }
     
    }

  }

  .poster{
    width: 100%;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .poster.hide{
    display: none;
  }
}

// fine elemento movie/serie
